USE [master]
GO
/****** Object:  Database [EchannelDB]    Script Date: 8/20/2024 7:20:10 PM ******/
CREATE DATABASE [EchannelDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EchannelDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EchannelDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EchannelDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EchannelDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EchannelDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EchannelDB]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 8/20/2024 7:20:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[admin_id] [int] IDENTITY(1,1) NOT NULL,
	[admin_title_id] [int] NOT NULL,
	[admin_initial] [varchar](50) NOT NULL,
	[admin_lname] [varchar](50) NOT NULL,
	[admin_fullname] [varchar](50) NOT NULL,
	[admin_dob] [date] NOT NULL,
	[admin_nic] [int] NOT NULL,
	[admin_passport] [varchar](50) NOT NULL,
	[admin_email] [varchar](50) NOT NULL,
	[admin_mobileno] [varchar](10) NOT NULL,
	[admin_telephoneno] [varchar](10) NOT NULL,
	[entry_user] [varchar](50) NULL,
	[entry_date] [date] NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[admin_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppCalendar]    Script Date: 8/20/2024 7:20:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppCalendar](
	[appCalendar_id] [int] IDENTITY(1,1) NOT NULL,
	[branch_id] [int] NOT NULL,
	[consultant_id] [int] NOT NULL,
	[date] [date] NOT NULL,
	[from_time] [time](7) NOT NULL,
	[to_time] [time](7) NOT NULL,
	[web_quota] [int] NOT NULL,
	[offline_quota] [int] NOT NULL,
	[balance] [int] NOT NULL,
	[status] [varchar](50) NOT NULL,
	[consultation_fee] [money] NOT NULL,
	[entry_user] [int] NULL,
	[entry_date] [date] NULL,
 CONSTRAINT [PK_App_Calendar] PRIMARY KEY CLUSTERED 
(
	[appCalendar_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Appointment]    Script Date: 8/20/2024 7:20:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointment](
	[appointment_id] [int] IDENTITY(1,1) NOT NULL,
	[patient_id] [int] NOT NULL,
	[consultant_id] [int] NOT NULL,
	[appCalendar_id] [int] NOT NULL,
	[appointment_seq] [int] NOT NULL,
	[appointment_status] [varchar](50) NOT NULL,
	[payment_id] [int] NOT NULL,
	[entry_user] [int] NOT NULL,
	[entry_date] [date] NOT NULL,
 CONSTRAINT [PK_appointment] PRIMARY KEY CLUSTERED 
(
	[appointment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Branch]    Script Date: 8/20/2024 7:20:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branch](
	[branch_id] [int] IDENTITY(1,1) NOT NULL,
	[branch_name] [varchar](50) NOT NULL,
	[branch_address] [varchar](50) NOT NULL,
	[branch_email] [varchar](50) NOT NULL,
	[branch_contact] [varchar](10) NOT NULL,
	[branch_contact_person] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Branch] PRIMARY KEY CLUSTERED 
(
	[branch_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Consultant]    Script Date: 8/20/2024 7:20:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consultant](
	[consultant_id] [int] IDENTITY(1,1) NOT NULL,
	[consultant_title] [int] NOT NULL,
	[consultant_initial] [varchar](50) NOT NULL,
	[consultant_lname] [varchar](50) NOT NULL,
	[consultant_fullname] [varchar](50) NOT NULL,
	[consultant_gender] [varchar](6) NOT NULL,
	[consultant_dob] [date] NOT NULL,
	[consultant_register_id] [int] NOT NULL,
	[consultant_address] [varchar](50) NOT NULL,
	[consultant_contact_1] [varchar](10) NOT NULL,
	[consultant_contact_2] [varchar](10) NOT NULL,
	[consultant_email] [varchar](50) NOT NULL,
	[consultant_hospital] [varchar](50) NOT NULL,
	[entry_user] [int] NOT NULL,
	[entry_date] [date] NOT NULL,
 CONSTRAINT [PK_consultant] PRIMARY KEY CLUSTERED 
(
	[consultant_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConsultantQualification]    Script Date: 8/20/2024 7:20:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsultantQualification](
	[consultant_Id] [int] NOT NULL,
	[qualification_Id] [int] NOT NULL,
 CONSTRAINT [PK_consultant_qualification] PRIMARY KEY CLUSTERED 
(
	[consultant_Id] ASC,
	[qualification_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConsultantSpecialization]    Script Date: 8/20/2024 7:20:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsultantSpecialization](
	[consultant_id] [int] NOT NULL,
	[specialization_id] [int] NOT NULL,
 CONSTRAINT [PK_consultant_specialization] PRIMARY KEY CLUSTERED 
(
	[consultant_id] ASC,
	[specialization_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Consultation]    Script Date: 8/20/2024 7:20:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consultation](
	[consultation_id] [int] IDENTITY(1,1) NOT NULL,
	[appointment_id] [int] NOT NULL,
	[next_visit] [date] NOT NULL,
	[entry_user] [int] NOT NULL,
	[entry_date] [date] NOT NULL,
 CONSTRAINT [PK_consultation] PRIMARY KEY CLUSTERED 
(
	[consultation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConsultationDiseases]    Script Date: 8/20/2024 7:20:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsultationDiseases](
	[consultation_id] [int] NOT NULL,
	[disease_id] [int] NOT NULL,
	[disease_remarks] [varchar](100) NOT NULL,
 CONSTRAINT [PK_consultation_diseases] PRIMARY KEY CLUSTERED 
(
	[consultation_id] ASC,
	[disease_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConsultationPrescription]    Script Date: 8/20/2024 7:20:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsultationPrescription](
	[prescription_id] [int] NOT NULL,
	[consultation_id] [int] NOT NULL,
	[disease_id] [int] NOT NULL,
	[medicine_id] [int] NOT NULL,
 CONSTRAINT [PK_consultation_prescription] PRIMARY KEY CLUSTERED 
(
	[prescription_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConsultationReports]    Script Date: 8/20/2024 7:20:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsultationReports](
	[consultation_id] [int] NOT NULL,
	[report_id] [int] NOT NULL,
	[report_remarks] [varchar](100) NOT NULL,
 CONSTRAINT [PK_consultation_reports] PRIMARY KEY CLUSTERED 
(
	[consultation_id] ASC,
	[report_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConsultationSymptoms]    Script Date: 8/20/2024 7:20:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsultationSymptoms](
	[consultation_id] [int] NOT NULL,
	[symptom_id] [int] NOT NULL,
	[symptom_remarks] [varchar](100) NOT NULL,
 CONSTRAINT [PK_consultation_symptoms] PRIMARY KEY CLUSTERED 
(
	[consultation_id] ASC,
	[symptom_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Disease]    Script Date: 8/20/2024 7:20:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Disease](
	[disease_id] [int] IDENTITY(1,1) NOT NULL,
	[disease_name] [varchar](50) NOT NULL,
	[disease_description] [varchar](100) NOT NULL,
 CONSTRAINT [PK__disease__15627065DAB0198B] PRIMARY KEY CLUSTERED 
(
	[disease_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiseaseSymptom]    Script Date: 8/20/2024 7:20:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiseaseSymptom](
	[disease_id] [int] NOT NULL,
	[symptom_id] [int] NOT NULL,
 CONSTRAINT [PK_disease_symptom] PRIMARY KEY CLUSTERED 
(
	[disease_id] ASC,
	[symptom_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[District]    Script Date: 8/20/2024 7:20:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[District](
	[district_id] [int] IDENTITY(1,1) NOT NULL,
	[district_description] [varchar](50) NOT NULL,
 CONSTRAINT [PK_District] PRIMARY KEY CLUSTERED 
(
	[district_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LabReports]    Script Date: 8/20/2024 7:20:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LabReports](
	[report_id] [int] IDENTITY(1,1) NOT NULL,
	[report_description] [varchar](50) NOT NULL,
 CONSTRAINT [PK__labRepor__779B7C582A7CBACA] PRIMARY KEY CLUSTERED 
(
	[report_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicine]    Script Date: 8/20/2024 7:20:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicine](
	[medicine_id] [int] IDENTITY(1,1) NOT NULL,
	[medicine_category_id] [int] NOT NULL,
	[medicine_description] [varchar](50) NOT NULL,
	[medicine_scientificname] [varchar](50) NOT NULL,
 CONSTRAINT [PK_medicine] PRIMARY KEY CLUSTERED 
(
	[medicine_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicineCategory]    Script Date: 8/20/2024 7:20:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicineCategory](
	[medicine_category_id] [int] IDENTITY(1,1) NOT NULL,
	[medicine_category_description] [varchar](50) NOT NULL,
 CONSTRAINT [PK__medicine__9D925B87710C921E] PRIMARY KEY CLUSTERED 
(
	[medicine_category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient]    Script Date: 8/20/2024 7:20:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient](
	[patient_id] [int] IDENTITY(1,1) NOT NULL,
	[patient_title_id] [int] NULL,
	[patient_initial] [varchar](50) NOT NULL,
	[patient_lname] [varchar](50) NOT NULL,
	[patient_fullname] [varchar](50) NULL,
	[patient_dob] [date] NULL,
	[patient_gender] [varchar](6) NULL,
	[patient_nic] [int] NULL,
	[patient_passport] [int] NULL,
	[patient_address] [varchar](50) NULL,
	[patient_district_id] [int] NULL,
	[patient_email] [varchar](50) NOT NULL,
	[patient_mobileno] [varchar](10) NULL,
	[patient_telephoneno] [varchar](10) NULL,
	[patient_geolocation] [varchar](50) NULL,
	[patient_branch_id] [int] NULL,
	[entry_user] [int] NULL,
	[entry_date] [date] NULL,
 CONSTRAINT [PK_Patient] PRIMARY KEY CLUSTERED 
(
	[patient_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentCategory]    Script Date: 8/20/2024 7:20:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentCategory](
	[payment_category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_description] [varchar](50) NOT NULL,
 CONSTRAINT [PK__payment___D54EE9B4FF38858E] PRIMARY KEY CLUSTERED 
(
	[payment_category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentDetails]    Script Date: 8/20/2024 7:20:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentDetails](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[payment_branch_id] [int] NOT NULL,
	[payment_category_id] [int] NOT NULL,
	[payment_amount] [money] NOT NULL,
	[payment_type_id] [int] NOT NULL,
	[payment_status] [varchar](50) NOT NULL,
	[entry_user] [int] NULL,
	[entry_date] [date] NULL,
 CONSTRAINT [PK_payment_details] PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentType]    Script Date: 8/20/2024 7:20:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentType](
	[payment_type_id] [int] IDENTITY(1,1) NOT NULL,
	[payment_type_description] [varchar](50) NOT NULL,
 CONSTRAINT [PK__payment___8C1ABD6F3BB109E9] PRIMARY KEY CLUSTERED 
(
	[payment_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Qualification]    Script Date: 8/20/2024 7:20:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Qualification](
	[qualification_id] [int] IDENTITY(1,1) NOT NULL,
	[qualification_description] [varchar](50) NOT NULL,
 CONSTRAINT [PK_qualification] PRIMARY KEY CLUSTERED 
(
	[qualification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specialization]    Script Date: 8/20/2024 7:20:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specialization](
	[specialization_id] [int] IDENTITY(1,1) NOT NULL,
	[specialization_description] [varchar](50) NOT NULL,
 CONSTRAINT [PK_specialization] PRIMARY KEY CLUSTERED 
(
	[specialization_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Symptom]    Script Date: 8/20/2024 7:20:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Symptom](
	[symptom_id] [int] IDENTITY(1,1) NOT NULL,
	[symptom_name] [varchar](50) NOT NULL,
	[symptom_description] [varchar](100) NOT NULL,
 CONSTRAINT [PK__symptom__7A85ADB821403552] PRIMARY KEY CLUSTERED 
(
	[symptom_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Title]    Script Date: 8/20/2024 7:20:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Title](
	[title_id] [int] IDENTITY(1,1) NOT NULL,
	[title_description] [varchar](6) NOT NULL,
 CONSTRAINT [PK_Title] PRIMARY KEY CLUSTERED 
(
	[title_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLogin]    Script Date: 8/20/2024 7:20:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLogin](
	[user_login_id] [int] IDENTITY(1,1) NOT NULL,
	[user_email] [varchar](50) NOT NULL,
	[user_password] [varchar](50) NOT NULL,
	[user_reference_id] [int] NOT NULL,
	[user_role] [int] NOT NULL,
 CONSTRAINT [PK_UserLogin] PRIMARY KEY CLUSTERED 
(
	[user_login_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 8/20/2024 7:20:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[user_role_id] [int] IDENTITY(1,1) NOT NULL,
	[user_role_desc] [varchar](50) NOT NULL,
 CONSTRAINT [PK_UserRole] PRIMARY KEY CLUSTERED 
(
	[user_role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([admin_id], [admin_title_id], [admin_initial], [admin_lname], [admin_fullname], [admin_dob], [admin_nic], [admin_passport], [admin_email], [admin_mobileno], [admin_telephoneno], [entry_user], [entry_date]) VALUES (2, 4, N'S', N'Jayasinghe', N'S Jayasinghe', CAST(N'2024-06-03' AS Date), 5, N'1234', N'd@e', N'0888888888', N'0558888888', NULL, NULL)
INSERT [dbo].[Admin] ([admin_id], [admin_title_id], [admin_initial], [admin_lname], [admin_fullname], [admin_dob], [admin_nic], [admin_passport], [admin_email], [admin_mobileno], [admin_telephoneno], [entry_user], [entry_date]) VALUES (3, 4, N'S', N'Jayasinghe', N'S Jayasinghe', CAST(N'2005-02-15' AS Date), 5, N'1234', N'sja@gmail.cm', N'888888888', N'558888888', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
SET IDENTITY_INSERT [dbo].[AppCalendar] ON 

INSERT [dbo].[AppCalendar] ([appCalendar_id], [branch_id], [consultant_id], [date], [from_time], [to_time], [web_quota], [offline_quota], [balance], [status], [consultation_fee], [entry_user], [entry_date]) VALUES (7, 24, 9, CAST(N'2024-08-05' AS Date), CAST(N'18:19:00' AS Time), CAST(N'20:19:00' AS Time), 30, 20, 0, N'I', 178.0000, NULL, NULL)
INSERT [dbo].[AppCalendar] ([appCalendar_id], [branch_id], [consultant_id], [date], [from_time], [to_time], [web_quota], [offline_quota], [balance], [status], [consultation_fee], [entry_user], [entry_date]) VALUES (8, 1024, 1016, CAST(N'2024-07-10' AS Date), CAST(N'19:01:00' AS Time), CAST(N'21:02:00' AS Time), 20, 20, 0, N'A', 1786.0000, NULL, NULL)
INSERT [dbo].[AppCalendar] ([appCalendar_id], [branch_id], [consultant_id], [date], [from_time], [to_time], [web_quota], [offline_quota], [balance], [status], [consultation_fee], [entry_user], [entry_date]) VALUES (9, 21, 1014, CAST(N'2024-07-09' AS Date), CAST(N'18:58:00' AS Time), CAST(N'21:58:00' AS Time), 21, 20, 0, N'I', 178.0000, 1014, CAST(N'2024-08-10' AS Date))
SET IDENTITY_INSERT [dbo].[AppCalendar] OFF
GO
SET IDENTITY_INSERT [dbo].[Appointment] ON 

INSERT [dbo].[Appointment] ([appointment_id], [patient_id], [consultant_id], [appCalendar_id], [appointment_seq], [appointment_status], [payment_id], [entry_user], [entry_date]) VALUES (3, 8, 9, 11, 118, N'Booked', 1, 8, CAST(N'2024-08-19' AS Date))
INSERT [dbo].[Appointment] ([appointment_id], [patient_id], [consultant_id], [appCalendar_id], [appointment_seq], [appointment_status], [payment_id], [entry_user], [entry_date]) VALUES (4, 8, 9, 11, 118, N'Booked', 1, 8, CAST(N'2024-08-20' AS Date))
INSERT [dbo].[Appointment] ([appointment_id], [patient_id], [consultant_id], [appCalendar_id], [appointment_seq], [appointment_status], [payment_id], [entry_user], [entry_date]) VALUES (5, 8, 9, 12, 128, N'Booked', 1, 8, CAST(N'2024-08-20' AS Date))
SET IDENTITY_INSERT [dbo].[Appointment] OFF
GO
SET IDENTITY_INSERT [dbo].[Branch] ON 

INSERT [dbo].[Branch] ([branch_id], [branch_name], [branch_address], [branch_email], [branch_contact], [branch_contact_person]) VALUES (21, N'Colombo', N'C Road, Colombo', N'colombo@branch', N'0712345673', N'C Olombo')
INSERT [dbo].[Branch] ([branch_id], [branch_name], [branch_address], [branch_email], [branch_contact], [branch_contact_person]) VALUES (22, N'Gampaha', N'M Road, Gampaha', N'gampaha@branch', N'0566666667', N'G Ampaha')
INSERT [dbo].[Branch] ([branch_id], [branch_name], [branch_address], [branch_email], [branch_contact], [branch_contact_person]) VALUES (23, N'Badulla', N'B Road, Badulla', N'badulla@branch', N'0999999993', N'B Adulla')
SET IDENTITY_INSERT [dbo].[Branch] OFF
GO
SET IDENTITY_INSERT [dbo].[Consultant] ON 

INSERT [dbo].[Consultant] ([consultant_id], [consultant_title], [consultant_initial], [consultant_lname], [consultant_fullname], [consultant_gender], [consultant_dob], [consultant_register_id], [consultant_address], [consultant_contact_1], [consultant_contact_2], [consultant_email], [consultant_hospital], [entry_user], [entry_date]) VALUES (9, 1, N'r', N'test', N'r test', N'1', CAST(N'2024-05-13' AS Date), 123, N'test', N'323232', N'23232', N'rt@com', N'test', 0, CAST(N'2024-05-13' AS Date))
INSERT [dbo].[Consultant] ([consultant_id], [consultant_title], [consultant_initial], [consultant_lname], [consultant_fullname], [consultant_gender], [consultant_dob], [consultant_register_id], [consultant_address], [consultant_contact_1], [consultant_contact_2], [consultant_email], [consultant_hospital], [entry_user], [entry_date]) VALUES (11, 1, N'r', N'test', N'r test', N'1', CAST(N'2024-05-16' AS Date), 123, N't', N'323232', N'23232', N'rt@rt', N'test', 0, CAST(N'2024-05-13' AS Date))
INSERT [dbo].[Consultant] ([consultant_id], [consultant_title], [consultant_initial], [consultant_lname], [consultant_fullname], [consultant_gender], [consultant_dob], [consultant_register_id], [consultant_address], [consultant_contact_1], [consultant_contact_2], [consultant_email], [consultant_hospital], [entry_user], [entry_date]) VALUES (1010, 1, N't', N't', N't t', N'2', CAST(N'2024-05-10' AS Date), 44, N'g', N'3', N'3', N'2@do', N'd', 0, CAST(N'2024-05-19' AS Date))
SET IDENTITY_INSERT [dbo].[Consultant] OFF
GO
INSERT [dbo].[ConsultantQualification] ([consultant_Id], [qualification_Id]) VALUES (1010, 1)
INSERT [dbo].[ConsultantQualification] ([consultant_Id], [qualification_Id]) VALUES (1011, 1)
INSERT [dbo].[ConsultantQualification] ([consultant_Id], [qualification_Id]) VALUES (1012, 1)
GO
INSERT [dbo].[ConsultantSpecialization] ([consultant_id], [specialization_id]) VALUES (1010, 4)
INSERT [dbo].[ConsultantSpecialization] ([consultant_id], [specialization_id]) VALUES (1010, 8)
INSERT [dbo].[ConsultantSpecialization] ([consultant_id], [specialization_id]) VALUES (1011, 4)
GO
SET IDENTITY_INSERT [dbo].[Disease] ON 

INSERT [dbo].[Disease] ([disease_id], [disease_name], [disease_description]) VALUES (2, N'Flu updated', N'dgdgh')
INSERT [dbo].[Disease] ([disease_id], [disease_name], [disease_description]) VALUES (5, N'Dengue', N'gg')
SET IDENTITY_INSERT [dbo].[Disease] OFF
GO
SET IDENTITY_INSERT [dbo].[District] ON 

INSERT [dbo].[District] ([district_id], [district_description]) VALUES (1, N'Colombo')
SET IDENTITY_INSERT [dbo].[District] OFF
GO
SET IDENTITY_INSERT [dbo].[LabReports] ON 

INSERT [dbo].[LabReports] ([report_id], [report_description]) VALUES (2, N'Complete Blood Count (CBC)')
INSERT [dbo].[LabReports] ([report_id], [report_description]) VALUES (3, N'Lipid Profile')
INSERT [dbo].[LabReports] ([report_id], [report_description]) VALUES (4, N'X-Ray')
SET IDENTITY_INSERT [dbo].[LabReports] OFF
GO
SET IDENTITY_INSERT [dbo].[Medicine] ON 

INSERT [dbo].[Medicine] ([medicine_id], [medicine_category_id], [medicine_description], [medicine_scientificname]) VALUES (2, 8, N'Glipizide', N'Glipizide')
INSERT [dbo].[Medicine] ([medicine_id], [medicine_category_id], [medicine_description], [medicine_scientificname]) VALUES (3, 8, N'Metformin', N'Metformin hydrochloride')
INSERT [dbo].[Medicine] ([medicine_id], [medicine_category_id], [medicine_description], [medicine_scientificname]) VALUES (5, 3, N'Amoxicillin', N'Amoxicillin trihydrate')
SET IDENTITY_INSERT [dbo].[Medicine] OFF
GO
SET IDENTITY_INSERT [dbo].[MedicineCategory] ON 

INSERT [dbo].[MedicineCategory] ([medicine_category_id], [medicine_category_description]) VALUES (2, N'Analgesics (Pain Relievers)')
INSERT [dbo].[MedicineCategory] ([medicine_category_id], [medicine_category_description]) VALUES (3, N'Antibiotics ')
INSERT [dbo].[MedicineCategory] ([medicine_category_id], [medicine_category_description]) VALUES (4, N'Antivirals')
SET IDENTITY_INSERT [dbo].[MedicineCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[Patient] ON 

INSERT [dbo].[Patient] ([patient_id], [patient_title_id], [patient_initial], [patient_lname], [patient_fullname], [patient_dob], [patient_gender], [patient_nic], [patient_passport], [patient_address], [patient_district_id], [patient_email], [patient_mobileno], [patient_telephoneno], [patient_geolocation], [patient_branch_id], [entry_user], [entry_date]) VALUES (8, 1, N'k', N'lemon', N'klemon', CAST(N'2024-07-09' AS Date), N'Male', 33, 3, N'ej', 1, N'hm@hm', N'1', N'1', N'1', 21, NULL, NULL)
INSERT [dbo].[Patient] ([patient_id], [patient_title_id], [patient_initial], [patient_lname], [patient_fullname], [patient_dob], [patient_gender], [patient_nic], [patient_passport], [patient_address], [patient_district_id], [patient_email], [patient_mobileno], [patient_telephoneno], [patient_geolocation], [patient_branch_id], [entry_user], [entry_date]) VALUES (16, 4, N'S', N'lemon', N'S lemon', CAST(N'2024-06-05' AS Date), N'Female', 5, 1234, N'something', 1, N'2@do', N'55', N'55', N'5', 1024, NULL, NULL)
INSERT [dbo].[Patient] ([patient_id], [patient_title_id], [patient_initial], [patient_lname], [patient_fullname], [patient_dob], [patient_gender], [patient_nic], [patient_passport], [patient_address], [patient_district_id], [patient_email], [patient_mobileno], [patient_telephoneno], [patient_geolocation], [patient_branch_id], [entry_user], [entry_date]) VALUES (18, 1, N'S', N'Jayasinghe', N'S Jayasinghe', CAST(N'2024-05-17' AS Date), N'Female', 5, 1234, N'jdj', 1, N'2@do', N'55', N'55', N'5', 21, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Patient] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentCategory] ON 

INSERT [dbo].[PaymentCategory] ([payment_category_id], [category_description]) VALUES (1, N'Consultation Fees')
INSERT [dbo].[PaymentCategory] ([payment_category_id], [category_description]) VALUES (3, N'Lab Report Fees')
INSERT [dbo].[PaymentCategory] ([payment_category_id], [category_description]) VALUES (4, N'Medication Fees')
SET IDENTITY_INSERT [dbo].[PaymentCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentDetails] ON 

INSERT [dbo].[PaymentDetails] ([payment_id], [payment_branch_id], [payment_category_id], [payment_amount], [payment_type_id], [payment_status], [entry_user], [entry_date]) VALUES (1, 21, 1, 56.0000, 1, N'Success', NULL, NULL)
SET IDENTITY_INSERT [dbo].[PaymentDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentType] ON 

INSERT [dbo].[PaymentType] ([payment_type_id], [payment_type_description]) VALUES (1, N'Credit card')
INSERT [dbo].[PaymentType] ([payment_type_id], [payment_type_description]) VALUES (3, N'Debit card')
SET IDENTITY_INSERT [dbo].[PaymentType] OFF
GO
SET IDENTITY_INSERT [dbo].[Qualification] ON 

INSERT [dbo].[Qualification] ([qualification_id], [qualification_description]) VALUES (1, N'MBBS (Bachelor of Medicine, Bachelor of Surgery)')
INSERT [dbo].[Qualification] ([qualification_id], [qualification_description]) VALUES (4, N'MD (Doctor of Medicine)')
INSERT [dbo].[Qualification] ([qualification_id], [qualification_description]) VALUES (5, N'DO (Doctor of Osteopathic Medicine)')
SET IDENTITY_INSERT [dbo].[Qualification] OFF
GO
SET IDENTITY_INSERT [dbo].[Specialization] ON 

INSERT [dbo].[Specialization] ([specialization_id], [specialization_description]) VALUES (3, N'Cardiologoist')
INSERT [dbo].[Specialization] ([specialization_id], [specialization_description]) VALUES (4, N'Neurologist')
INSERT [dbo].[Specialization] ([specialization_id], [specialization_description]) VALUES (5, N'Dermatologist ')
SET IDENTITY_INSERT [dbo].[Specialization] OFF
GO
SET IDENTITY_INSERT [dbo].[Symptom] ON 

INSERT [dbo].[Symptom] ([symptom_id], [symptom_name], [symptom_description]) VALUES (1, N'Fever', N'Elevated body temperature, often indicating infection or illness.')
INSERT [dbo].[Symptom] ([symptom_id], [symptom_name], [symptom_description]) VALUES (2, N'Chest Pain ', N'Discomfort or pain in the chest, often associated with heart or lung issues.')
INSERT [dbo].[Symptom] ([symptom_id], [symptom_name], [symptom_description]) VALUES (4, N'Shortness of Breath', N'Difficulty breathing, commonly linked to respiratory or cardiac problems.')
SET IDENTITY_INSERT [dbo].[Symptom] OFF
GO
SET IDENTITY_INSERT [dbo].[Title] ON 

INSERT [dbo].[Title] ([title_id], [title_description]) VALUES (1, N'Mr')
INSERT [dbo].[Title] ([title_id], [title_description]) VALUES (2, N'Mrs')
INSERT [dbo].[Title] ([title_id], [title_description]) VALUES (3, N'Ms')
SET IDENTITY_INSERT [dbo].[Title] OFF
GO
SET IDENTITY_INSERT [dbo].[UserLogin] ON 

INSERT [dbo].[UserLogin] ([user_login_id], [user_email], [user_password], [user_reference_id], [user_role]) VALUES (3, N'hm@hm', N'SENO', 8, 1)
INSERT [dbo].[UserLogin] ([user_login_id], [user_email], [user_password], [user_reference_id], [user_role]) VALUES (4, N'e@3', N're', 20, 1)
INSERT [dbo].[UserLogin] ([user_login_id], [user_email], [user_password], [user_reference_id], [user_role]) VALUES (5, N'SENOMI@GMAIL', N'SENOMIJ', 22, 1)
SET IDENTITY_INSERT [dbo].[UserLogin] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRole] ON 

INSERT [dbo].[UserRole] ([user_role_id], [user_role_desc]) VALUES (1, N'patient')
INSERT [dbo].[UserRole] ([user_role_id], [user_role_desc]) VALUES (2, N'consultant')
INSERT [dbo].[UserRole] ([user_role_id], [user_role_desc]) VALUES (3, N'admin')
SET IDENTITY_INSERT [dbo].[UserRole] OFF
GO
ALTER TABLE [dbo].[Consultant] ADD  CONSTRAINT [DF_Consultant_entry_date]  DEFAULT (getdate()) FOR [entry_date]
GO
ALTER TABLE [dbo].[Admin]  WITH CHECK ADD  CONSTRAINT [FK_Admin_Title] FOREIGN KEY([admin_id])
REFERENCES [dbo].[Title] ([title_id])
GO
ALTER TABLE [dbo].[Admin] CHECK CONSTRAINT [FK_Admin_Title]
GO
ALTER TABLE [dbo].[AppCalendar]  WITH CHECK ADD  CONSTRAINT [FK_App_Calendar_Branch] FOREIGN KEY([branch_id])
REFERENCES [dbo].[Branch] ([branch_id])
GO
ALTER TABLE [dbo].[AppCalendar] CHECK CONSTRAINT [FK_App_Calendar_Branch]
GO
ALTER TABLE [dbo].[AppCalendar]  WITH CHECK ADD  CONSTRAINT [FK_App_Calendar_consultant] FOREIGN KEY([consultant_id])
REFERENCES [dbo].[Consultant] ([consultant_id])
GO
ALTER TABLE [dbo].[AppCalendar] CHECK CONSTRAINT [FK_App_Calendar_consultant]
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD  CONSTRAINT [FK_appointment_App_Calendar] FOREIGN KEY([appCalendar_id])
REFERENCES [dbo].[AppCalendar] ([appCalendar_id])
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [FK_appointment_App_Calendar]
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD  CONSTRAINT [FK_appointment_consultant] FOREIGN KEY([consultant_id])
REFERENCES [dbo].[Consultant] ([consultant_id])
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [FK_appointment_consultant]
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD  CONSTRAINT [FK_appointment_patient] FOREIGN KEY([patient_id])
REFERENCES [dbo].[Patient] ([patient_id])
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [FK_appointment_patient]
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD  CONSTRAINT [FK_appointment_payment_details] FOREIGN KEY([payment_id])
REFERENCES [dbo].[PaymentDetails] ([payment_id])
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [FK_appointment_payment_details]
GO
ALTER TABLE [dbo].[Consultant]  WITH CHECK ADD  CONSTRAINT [FK_consultant_Title] FOREIGN KEY([consultant_title])
REFERENCES [dbo].[Title] ([title_id])
GO
ALTER TABLE [dbo].[Consultant] CHECK CONSTRAINT [FK_consultant_Title]
GO
ALTER TABLE [dbo].[ConsultantQualification]  WITH CHECK ADD  CONSTRAINT [FK_consultant_qualification_consultant] FOREIGN KEY([consultant_Id])
REFERENCES [dbo].[Consultant] ([consultant_id])
GO
ALTER TABLE [dbo].[ConsultantQualification] CHECK CONSTRAINT [FK_consultant_qualification_consultant]
GO
ALTER TABLE [dbo].[ConsultantQualification]  WITH CHECK ADD  CONSTRAINT [FK_consultant_qualification_qualification] FOREIGN KEY([qualification_Id])
REFERENCES [dbo].[Qualification] ([qualification_id])
GO
ALTER TABLE [dbo].[ConsultantQualification] CHECK CONSTRAINT [FK_consultant_qualification_qualification]
GO
ALTER TABLE [dbo].[ConsultantSpecialization]  WITH CHECK ADD  CONSTRAINT [FK_consultant_specialization_consultant] FOREIGN KEY([consultant_id])
REFERENCES [dbo].[Consultant] ([consultant_id])
GO
ALTER TABLE [dbo].[ConsultantSpecialization] CHECK CONSTRAINT [FK_consultant_specialization_consultant]
GO
ALTER TABLE [dbo].[ConsultantSpecialization]  WITH CHECK ADD  CONSTRAINT [FK_consultant_specialization_specialization] FOREIGN KEY([specialization_id])
REFERENCES [dbo].[Specialization] ([specialization_id])
GO
ALTER TABLE [dbo].[ConsultantSpecialization] CHECK CONSTRAINT [FK_consultant_specialization_specialization]
GO
ALTER TABLE [dbo].[Consultation]  WITH CHECK ADD  CONSTRAINT [FK_consultation_appointment] FOREIGN KEY([appointment_id])
REFERENCES [dbo].[Appointment] ([appointment_id])
GO
ALTER TABLE [dbo].[Consultation] CHECK CONSTRAINT [FK_consultation_appointment]
GO
ALTER TABLE [dbo].[ConsultationDiseases]  WITH CHECK ADD  CONSTRAINT [FK_consultation_diseases_consultation] FOREIGN KEY([consultation_id])
REFERENCES [dbo].[Consultation] ([consultation_id])
GO
ALTER TABLE [dbo].[ConsultationDiseases] CHECK CONSTRAINT [FK_consultation_diseases_consultation]
GO
ALTER TABLE [dbo].[ConsultationDiseases]  WITH CHECK ADD  CONSTRAINT [FK_consultation_diseases_disease] FOREIGN KEY([disease_id])
REFERENCES [dbo].[Disease] ([disease_id])
GO
ALTER TABLE [dbo].[ConsultationDiseases] CHECK CONSTRAINT [FK_consultation_diseases_disease]
GO
ALTER TABLE [dbo].[ConsultationPrescription]  WITH CHECK ADD  CONSTRAINT [FK_consultation_prescription_consultation] FOREIGN KEY([consultation_id])
REFERENCES [dbo].[Consultation] ([consultation_id])
GO
ALTER TABLE [dbo].[ConsultationPrescription] CHECK CONSTRAINT [FK_consultation_prescription_consultation]
GO
ALTER TABLE [dbo].[ConsultationPrescription]  WITH CHECK ADD  CONSTRAINT [FK_consultation_prescription_disease] FOREIGN KEY([disease_id])
REFERENCES [dbo].[Disease] ([disease_id])
GO
ALTER TABLE [dbo].[ConsultationPrescription] CHECK CONSTRAINT [FK_consultation_prescription_disease]
GO
ALTER TABLE [dbo].[ConsultationPrescription]  WITH CHECK ADD  CONSTRAINT [FK_consultation_prescription_medicine] FOREIGN KEY([medicine_id])
REFERENCES [dbo].[Medicine] ([medicine_id])
GO
ALTER TABLE [dbo].[ConsultationPrescription] CHECK CONSTRAINT [FK_consultation_prescription_medicine]
GO
ALTER TABLE [dbo].[ConsultationReports]  WITH CHECK ADD  CONSTRAINT [FK_consultation_reports_consultation] FOREIGN KEY([consultation_id])
REFERENCES [dbo].[Consultation] ([consultation_id])
GO
ALTER TABLE [dbo].[ConsultationReports] CHECK CONSTRAINT [FK_consultation_reports_consultation]
GO
ALTER TABLE [dbo].[ConsultationReports]  WITH CHECK ADD  CONSTRAINT [FK_consultation_reports_labReports] FOREIGN KEY([report_id])
REFERENCES [dbo].[LabReports] ([report_id])
GO
ALTER TABLE [dbo].[ConsultationReports] CHECK CONSTRAINT [FK_consultation_reports_labReports]
GO
ALTER TABLE [dbo].[ConsultationSymptoms]  WITH CHECK ADD  CONSTRAINT [FK_consultation_symptoms_consultation] FOREIGN KEY([consultation_id])
REFERENCES [dbo].[Consultation] ([consultation_id])
GO
ALTER TABLE [dbo].[ConsultationSymptoms] CHECK CONSTRAINT [FK_consultation_symptoms_consultation]
GO
ALTER TABLE [dbo].[ConsultationSymptoms]  WITH CHECK ADD  CONSTRAINT [FK_consultation_symptoms_symptom] FOREIGN KEY([symptom_id])
REFERENCES [dbo].[Symptom] ([symptom_id])
GO
ALTER TABLE [dbo].[ConsultationSymptoms] CHECK CONSTRAINT [FK_consultation_symptoms_symptom]
GO
ALTER TABLE [dbo].[DiseaseSymptom]  WITH CHECK ADD  CONSTRAINT [FK_disease_symptom_disease] FOREIGN KEY([disease_id])
REFERENCES [dbo].[Disease] ([disease_id])
GO
ALTER TABLE [dbo].[DiseaseSymptom] CHECK CONSTRAINT [FK_disease_symptom_disease]
GO
ALTER TABLE [dbo].[DiseaseSymptom]  WITH CHECK ADD  CONSTRAINT [FK_disease_symptom_symptom] FOREIGN KEY([symptom_id])
REFERENCES [dbo].[Symptom] ([symptom_id])
GO
ALTER TABLE [dbo].[DiseaseSymptom] CHECK CONSTRAINT [FK_disease_symptom_symptom]
GO
ALTER TABLE [dbo].[Medicine]  WITH CHECK ADD  CONSTRAINT [FK_medicine_medicine_category] FOREIGN KEY([medicine_category_id])
REFERENCES [dbo].[MedicineCategory] ([medicine_category_id])
GO
ALTER TABLE [dbo].[Medicine] CHECK CONSTRAINT [FK_medicine_medicine_category]
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD  CONSTRAINT [FK_Patient_Branch] FOREIGN KEY([patient_branch_id])
REFERENCES [dbo].[Branch] ([branch_id])
GO
ALTER TABLE [dbo].[Patient] CHECK CONSTRAINT [FK_Patient_Branch]
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD  CONSTRAINT [FK_Patient_District] FOREIGN KEY([patient_district_id])
REFERENCES [dbo].[District] ([district_id])
GO
ALTER TABLE [dbo].[Patient] CHECK CONSTRAINT [FK_Patient_District]
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD  CONSTRAINT [FK_Patient_Title] FOREIGN KEY([patient_title_id])
REFERENCES [dbo].[Title] ([title_id])
GO
ALTER TABLE [dbo].[Patient] CHECK CONSTRAINT [FK_Patient_Title]
GO
ALTER TABLE [dbo].[PaymentDetails]  WITH CHECK ADD  CONSTRAINT [FK_payment_details_Branch] FOREIGN KEY([payment_branch_id])
REFERENCES [dbo].[Branch] ([branch_id])
GO
ALTER TABLE [dbo].[PaymentDetails] CHECK CONSTRAINT [FK_payment_details_Branch]
GO
ALTER TABLE [dbo].[PaymentDetails]  WITH CHECK ADD  CONSTRAINT [FK_payment_details_payment_category] FOREIGN KEY([payment_category_id])
REFERENCES [dbo].[PaymentCategory] ([payment_category_id])
GO
ALTER TABLE [dbo].[PaymentDetails] CHECK CONSTRAINT [FK_payment_details_payment_category]
GO
ALTER TABLE [dbo].[PaymentDetails]  WITH CHECK ADD  CONSTRAINT [FK_payment_details_payment_type] FOREIGN KEY([payment_type_id])
REFERENCES [dbo].[PaymentType] ([payment_type_id])
GO
ALTER TABLE [dbo].[PaymentDetails] CHECK CONSTRAINT [FK_payment_details_payment_type]
GO
ALTER TABLE [dbo].[UserLogin]  WITH CHECK ADD  CONSTRAINT [FK_UserLogin_UserRole1] FOREIGN KEY([user_role])
REFERENCES [dbo].[UserRole] ([user_role_id])
GO
ALTER TABLE [dbo].[UserLogin] CHECK CONSTRAINT [FK_UserLogin_UserRole1]
GO
USE [master]
GO
